name: CI

on:
  pull_request:

permissions:
  contents: read

env:
  PHP_VERSION: '8.5'

jobs:
  auto-review:
    name: Auto review
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}

      - name: Install dependencies
        run: composer install --no-progress --optimize-autoloader --prefer-dist --no-interaction

      - name: Run review
        run: composer review

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use PHP ${{ env.PHP_VERSION }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}

      - name: Install dependencies
        run: composer install --no-progress --optimize-autoloader --prefer-dist --no-interaction

      - name: Run tests
        run: composer tests
